doctype html
html
  head
    title= title
    link(rel='stylesheet' type="text/css" href='/api/stylesheets/style.css')
    link(rel="icon" type="image/x-icon" href="/api/images/favicon.ico")
  body
    block content
